@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <button class="learn-more">
        <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
        </span>
        <a class="button-text text-decoration-none" href="~/Home/Create">Começar</a>
    </button>
</div>

<div class="position-absolute top-50 start-50 translate-middle">
    <div class="bg_img position-absolute top-50 start-50 translate-middle"></div>
    <img class="home_img" src="~/img/sapiens-walking-croped.svg" />
</div>